<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre João Victor Lucena</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/sobre_mim.css">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>

<body>
  <main>
    <!-- Corpo do cartão -->
    <div class="container bg-dark w-auto rounded p-3 d-flex flex-column">
      <!-- Introdução -->
      <span class="h4 text-light">
        Sou graduando em Ciências da Computação na Universidade Federal de Campina Grande e foco meus estudos em
        desenvolvimento de software e ciência de dados.
      </span>
      <!-- Imagens com anchor para o Storyset (proprietário delas, ao utilizar devemos dar os créditos) -->
      <div class="w-100 d-flex flex-row justify-content-around d-none d-md-flex">
        <a href="https://storyset.com/business" style="width: 45%;" class="d-flex justify-content-center">
          <img src="../../resources/Data extraction-pana.svg" alt="Data Extraction Pana from Storyset" class="h-100"
            style="width: 60%;">
        </a>
        <a href="https://storyset.com/business" style="width: 45%;" class="d-flex justify-content-center">
          <img src="../../resources/Code typing-amico.svg" alt="Code Typing Amico from Storyset" class="h-100"
            style="width: 60%;">
        </a>
      </div>
      <!-- Hobbies -->
      <span class="h4 text-light">
        Adoro escutar música, praticar esportes e atividades físicas
        em geral. Sobre livros, já li "O Código Limpo" de Robert C. Martin, "Data Science From
        Scratch" de Joel Grus, "Sapiens - Uma Breve História da Humanidade" de Yuval Noah Harari e outros, porém meu
        favorito é um livro sobre a vida chamado "A última grande lição" ou "Tuesdays With Morrie" por Mitch Albom.
      </span>
      <!-- Imagens livros mencionados com link para compra no site da amazon -->
      <div class="d-flex flex-row justify-content-around">
        <a target="_blank" href="https://www.amazon.com.br/Tuesdays-Morrie-Young-Greatest-Lesson/dp/076790592X"
          style="width: 15%;">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41jOmR3wQaL._SX343_BO1,204,203,200_.jpg"
            alt="Tuesdays With Morrie" class="w-100">
        </a>
        <a target="_blank"
          href="https://www.amazon.com.br/Sapiens-Nova-edi%C3%A7%C3%A3o-hist%C3%B3ria-humanidade/dp/8535933921"
          style="width: 15%;">
          <img src="https://images-na.ssl-images-amazon.com/images/I/41FU42ESk5L._SX346_BO1,204,203,200_.jpg"
            alt="Sapiens - Uma brave história da humanidade" class="w-100">
        </a>
        <a target="_blank" href="https://www.amazon.com.br/C%C3%B3digo-limpo-Robert-C-Martin/dp/8576082675"
          style="width: 15%;">
          <img
            src="https://books.google.com.br/books/publisher/content?id=GXWkDwAAQBAJ&hl=pt-BR&pg=PP1&img=1&zoom=3&bul=1&sig=ACfU3U0mKV_CEpQr_bxjkqWdDUkVIPpSTw&w=1280"
            w-100"" alt="Código Limpo" class="w-100">
        </a>
        <a target="_blank" href="https://www.amazon.com.br/Data-Science-Do-Zero-Fundamentais/dp/8550811769"
          style="width: 15%;">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51psvxQpAbS._SX353_BO1,204,203,200_.jpg"
            alt="Data Science do Zero" class="w-100">
        </a>
      </div>
    </div>
    </div>
  </main>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
  <script src="../code/loadNavBar.js"></script>

</body>

</html>